body {
    background-image:url(../images/stardust.png);
}


.week 
{
    background-color: #ff4c38;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    height:55px;
    text-align:center;
    font-size:36px;
    line-height:60px;
}

.event
{
    width:96%;
    margin-left:2%;
    font-size:70%;
    z-index:99;
    position:absolute;
}

#specevent
{
}

#specevent ul
{
    list-style-type:none;
}

.eventtime
{
    width:100%;
    background:rgba(255,255,255,0.2);
    height:20px;
    font-size:14px;
}

.event a
{
    color:white;
    text-decoration:none;
}

.event a:visited
{
    color:white;
    text-decoration:none;
}

#menu-side
{
    z-index:999;
    position:absolute;
    display:block;
    height:100%;
    width:0%;
    background-color: rgba(228, 226, 226, 0.8);
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#wrap
{
    margin-top:40px;
    width:80%;
    margin-left:10%;
    visibility:hidden;
}
.menu-button {
	position: fixed;
    top:-23px;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}


#create_Calendar, #delete_Calendar, #create_Event, #delete_Event, #create_Note, #delete_Note{
    width:50%;
    text-align:center;
    vertical-align:middle;
    height:40px;
    padding-top:28px;
    background-color: #ff4c38;
}

#create_Calendar:hover, #delete_Calendar:hover, #create_Event:hover, #delete_Event:hover,#create_Note:hover, #delete_Note:hover{
           background:rgba(255,255,255,0.2);
    }

#create_Calendar, #delete_Calendar, #create_Event, #delete_Event, #create_Note, #delete_Note {color:white; text-decoration:none;}
/*#create_Calendar, #delete_Calendar, #create_Event, #delete_Event a:visited {     color:white; text-decoration:none;}*/

#create_Calendar, #create_Event, #create_Note{
    float:left;
}

#delete_Calendar, #delete_Event, #delete_Note{
    float:right;
}

#createCalendar, #deleteCalendar, #createEvent, #deleteEvent, #createNote, #deleteNote {
    display:none;
}

.quoteoftheday
{
    position:absolute;
    width:100%;
    height:19px;
    bottom:0px;
    background-color: rgba(228, 226, 226, 0.8);
    z-index:1;
    text-align:center;
}