body {
    background-image:url(../images/stardust.png);
}


/* TABLE STYLE */
.calstyle{
    height:100%;
    width:100%;
    border:solid;
    border-color:#ffffff;
    border-width:1px;
    border-collapse:collapse;
    color:#000;
    text-align:center;
}

/* TABLE ROWS */
.row{
    border:solid;
    border-color:#ffffff;
    border-width:1px;
    background-color: #D7F5D7;
}

.row:nth-child(2n-1) {
    background-color: #f5f5f5;
}

/* TABLE CELLS */
.cell{
    border-right:solid;
    border-right-color:#ffffff;
    border-right-width:1px;
}

.ctime
{
    background-color: #2ea879;
    border-top:none;
    border-bottom:none;
}

.cell:hover 
{
    background-color: rgba(129,208,177,.3);
}

.rowheader {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.event
{
    background-color:red;
    height:100%;
    width:100%;
    vertical-align:top;
}
#menu-side
{
    z-index:999;
    position:absolute;
    display:block;
    height:100%;
    width:0%;
    background-color:#808080;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

#wrap
{
    margin-top:80px;
    width:80%;
    margin-left:10%;
    visibility:hidden;
}
.menu-button {
	position: fixed;
    top:-23px;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}